body {
  padding-left: 25px;
  padding-right: 25px;
}

a {
	text-transform: none;
	color: inherit;
}

a:hover, a:active {
	color: inherit;
}

h1 {
	font-family: 'Abril Fatface';
	font-size: 85px;
}

span.cap-letters {
	font-size: 90px;
}

p {
	font-family: 'Assistant', Arial;
	font-size: 16px;
	padding: 0px;
	margin: 0px;
}

.line {
	height: 1px;
	background-color: #ED1C24;
	margin-left: 100px;
}

.info {
	text-align: center;
	padding-top: 140px;
}


.contact {
	padding-top: 10px;
	text-align: center;
	color: #ED1C24;
	font-style: italic;
}

.contact p {
	font-size: 14px;
}

.icons {
	padding-top: 10px;
	text-align: center;
	font-size: 28px;
}

.icons i {
	padding-left: 2px;
	padding-right: 2px;
}

.icons a:hover, .icons a:active {
	color: #8A8A8A;
}